.features {
  display: flex;
  align-items: center;
  padding: 5rem 0 3.5rem;
  width: 100%;
}

.features__title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.32px;
  margin-bottom: 8px;
  line-height: 1.3333;
}

.features__subtitle {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 996px) {
  .features__title {
    font-size: 22px;
  }
  .features__subtitle {
    font-size:18px;
  }
}

html[data-theme="light"] .features__title {
  color: #040255;
}

html[data-theme="dark"] .features__title {
  color: #B3C9FF;
}

html[data-theme="light"] .features__subtitle {
  color: #4B5768;
}

html[data-theme="dark"] .features__subtitle {
  color: #F8FAFC;
}

.features__card {
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 1.5rem;
}

html[data-theme="light"] .features__card {
  background-color: #F8FAFC;
}

html[data-theme="dark"] .features__card {
  background-color: #282828;
}

.features__card-title {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.32px;
  line-height: 1.3333;
  margin-bottom: 8px;
}

html[data-theme="light"] .features__card-title {
  color: #010128;
}

html[data-theme="dark"] .features__card-title {
  color: #F8FAFC;
}

.features__card-circleBg {
  width: 40px;
  height: 40px;
  border: 1px solid ;
  border-radius: 8px;
  margin-bottom: 24px;
}

html[data-theme="light"] .features__card-circleBg {
  border-color: #E2E8F0;
  background-color: #fff;
}

html[data-theme="dark"] .features__card-circleBg {
  border-color: #383838;
  background-color: #1D1D1D;
}

.features__card-icon {
  width: 24px;
  height: 24px;
  margin: 7px;
}

html[data-theme="light"] .features__card-icon {
  stroke: #0B04D9;
}

html[data-theme="dark"] .features__card-icon {
  stroke: #B3C9FF;
}

.features__card-icon path{
  stroke: inherit;
}

.features__card-description {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  line-height: 1.5;
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .features__card-description {
    height: 148px;
  }
}

@media screen and (min-width: 1006px) and (max-width: 1339px) {
  .features__card-description {
    height: 200px;
  }
}

html[data-theme="light"] .features__card-description {
  color: #4B5768;
}

html[data-theme="dark"] .features__card-description {
  color: #E2E8F0;
}

.features__card-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--ifm-link-color);
  svg path {
    stroke: var(--ifm-link-color);
  }
}

.features__card-link:hover {
  color: var(--ifm-link-hover-color);
  text-decoration: underline;
  svg path {
    stroke: var(--ifm-link-hover-color);
  }

  .features__card-link-icon {
    svg {
      transform: rotate(45deg);
    }
  }
}

.features__card-link-icon {
  display: inline;
  margin-left: 8px;

  svg {
    transition: transform 0.25s ease-in-out;
  }

}
