/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (min-width: 1440px) {
  .hero__box {
    padding: 75px 0;
  }
}

@media screen and (min-width: 997px) and (max-width: 1439px) {
  .hero__box {
    padding: 44px 0;
  }
}

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, top;
  background-image: url('../../static/img/homepage.svg');
  height: 382px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    height: 400px;
  }
}

.hero__subtitle {
  text-align: left;
  margin: 16px 0;
  font-weight: 400;
}

.hero__subtitle--primary {
  font-size: 56px;
  line-height: 1.1429;
  letter-spacing: -1.28px;
  color: #fff;
}

.hero__subtitle--secondary {
  font-size: 20px;
  letter-spacing: -0.32px;
  margin-bottom: 0;
  color: #E2E8F0;
}

@media screen and (max-width: 768px) {
  .hero__subtitle--primary {
    font-size: 40px;
  }

  .hero__subtitle--secondary {
    font-size: 18px;
  }
}

@media screen and (max-width: 370px) {
  .hero__subtitle--primary {
    font-size: 30px;
  }
}

.hero__header {
  margin-bottom: 0;
  border: 1px solid #B3C9FF;
  border-radius: 99px;
  width: fit-content;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #B3C9FF;
}
